# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.env/

# Build
dist/
build/
*.spec

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env
config.json
credentials.json
token.json

# Media (optional)
*.mp4
*.mov